body {
    height: 100vh;
    width: 100vw;
}

body > section {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
    margin: 0 0 10px 0;
}

#terminal-section {
    padding: 3% 0 3% 3%;
    height: 100%;
    flex: 25%;
    margin: 0;
}

#graph-section {
    padding: 3% 0;
    height: 100%;
}

#graph-section {
    flex: 70%;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

#graph-div {
    height: 70%;
    flex: 60%;
    padding: 0 0 3% 3%;
}

#graph-div > main {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#graph-div > aside {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

p {
    font-size: 11px;
    user-select: none;
}

#y-label-div {
    flex: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#x-label-spacer {
    flex: 10%;
}

#x-label-div {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

#graph-util {
    padding: 3%;
    flex: 40%;
}

#terminal-section > *, #graph-section > * {
    display: block;
    width: 100%;
    margin: 10px 0px;
}

#text-output {
    height: 60%;
}

#graph {
    width: 90%;
    border: 1px solid black;
    height: 100%;
}

.fn-div {
    border: 1px solid black;
    padding: 2px;
    display: flex;
    justify-content: space-between;
}

.fn-text {
    flex: 80%;
    font-size: 13px;
}

.fn-ctrl {
    display: flex;
    justify-content: space-between;
    flex: 25%;
}

.layer-ctrl {
    display: flex;
    flex-direction: column;
    flex: 30%;
}
.color-input {
    width: 100%;
    height: 100%;
    flex: 50%;
}

.del-btn {
    flex: 20%;
}

#fn-div-template {
    display: none;
}
